body{
    margin: 0;
    font-family: serif;
}
.orng{
color: orange;
}

.gray{
    color: rgb(95, 85, 85);
}
.hdr1{
    font-weight: bolder;
    font-size: 50px;
}

.hir{
    font-weight: bolder;
    font-size: 40px;
}

#dashp{
    color:rgb(127, 139, 151);
     font-size: larger; 
     font-weight: bold; 
     padding-bottom: 50px;
}

.hbtn{
    background-image: linear-gradient( 90deg, orange, rgb(255, 123, 0));
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 20px 35px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgb(247, 183, 64);
}

.flexible{
    display: flex;
    margin-bottom: 130px;
}

.halfwidth{
    width: 50%;
}

.dashitem{
    padding-left: 7%;
    padding-top: 15%;
    width: 45%;
}

.dashimg{
    padding-top: 7%;
    width: 55%;
}

.profimg{
    padding-left: 7%;
    padding-top: 5%;
    width: 40%;
}

.intro{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(250, 238, 217);
    display: flex;
    margin-bottom: 30px;
}

.intro1{
    padding-right: 7%;
    padding-top: 7%;
    width: 30%;
}

#introp{
    color: rgb(39, 39, 39); 
    font-size: larger; 
    font-weight: 500; 
    padding-bottom: 80px;
}

.recipe{
    padding-left: 7%;
}

.cardrecipe{
    width: 30%;
    border: 1px solid white;
    box-shadow: 0 0 12px 18px rgb(231, 228, 228);
    border-radius: 20px;
    margin-right: 80px;
}

.recdetails{
    padding: 17px;
}

.recimg{
width: 90%;
padding: 17px;

}

.title{
    margin-bottom: 0px;
}

.rec{
    padding-top: 20px;
}

#des{
    margin:  auto;
    margin-bottom: 50px;
    width: 700px;
    font-size: larger; 
    color: rgb(105, 104, 104); 
    text-align: center;
}
